.home {
  position: relative;
  background: url("../img/home-bg.jpg") no-repeat bottom;
  background-size: cover;
  padding: 188px 0 80px;
}

.list-distance {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 52px 0 45px;
  font-size: 32px;
  font-weight: 600;
  line-height: 115.5%;
}
.list-distance li:after {
  content: "";
  background: #fff;
  border-radius: 50%;
  margin: 0 24px;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.list-distance li:last-child::after {
  display: none;
}

.advantages-box {
  text-align: center;
  position: relative;
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  line-height: 140%;
}
.advantages-box::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -32px;
  width: 2px;
  height: 80px;
  background: rgba(255, 255, 255, 0.1);
}
.advantages-box h4 {
  margin: 16px auto;
  line-height: 110%;
}
.advantages-box__icon {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages-col:last-child .advantages-box::before {
  display: none;
}

.call-master {
  margin: 40px 0;
}
.call-master__photo {
  width: 150px;
  height: 150px;
  min-width: 150px;
  overflow: hidden;
  border-radius: 50%;
  background: #CBCBCB;
  padding: 13px 7px 0;
  margin: 0 32px 0 0;
}
.call-master__body {
  text-align: center;
  max-width: 674px;
  width: 100%;
}
.call-master h3 {
  margin: 0 auto 16px;
}
.call-master .consent {
  color: #B0B3B8;
}

.call-master-wrapper {
  padding: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #9E9E9E;
}

.form-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.form-call [type=submit] {
  padding: 20px 30px;
  height: 96px;
  text-transform: uppercase;
}
.form-call__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #898989;
  width: 56px;
  height: 56px;
  min-width: 56px;
  border-radius: 50%;
  fill: #fff;
  padding: 10px;
}
.form-call label {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 0 0;
  max-width: 564px;
  width: 100%;
}
.form-call input {
  color: #fff;
  padding: 0;
  text-align: center;
}
.form-call input::-webkit-input-placeholder {
  color: #fff;
}
.form-call input::-moz-placeholder {
  color: #fff;
}
.form-call input:-ms-input-placeholder {
  color: #fff;
}
.form-call input::-ms-input-placeholder {
  color: #fff;
}
.form-call input::placeholder {
  color: #fff;
}

.photo-gallery {
  overflow-x: hidden;
}
.photo-gallery .slick-slide {
  margin: 0 20px;
}
.photo-gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  width: 418px;
  height: 418px;
}
.photo-gallery__item img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo-gallery .slick-prev {
  left: 0;
}
.photo-gallery .slick-next {
  right: 0;
}

.services {
  overflow-x: hidden;
}

.services-slider .slick-slide {
  padding: 0 20px;
}
.services-slider .slick-list {
  margin: 0 -20px;
}
.services-slider .slick-arrow {
  top: 184px;
  -webkit-transform: none;
          transform: none;
}

.services-item {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
}
.services-item__photo {
  width: 100%;
  height: 420px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services-item__photo img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-item:hover {
  color: #fff;
}
.services-item__price {
  color: #E35332;
  margin: 20px auto 0;
}
.services-item__name {
  max-width: 300px;
}
.services-item__body {
  padding: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: 0 0 13px;
}

.services-shop {
  border-radius: 20px;
  padding: 24px;
  width: 100%;
  height: 100%;
}

.services-shop-slider .slick-slide {
  padding: 0 20px;
  height: auto;
}
.services-shop-slider .slick-list {
  margin: 0 -20px;
}
.services-shop-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.services-shop-slider .slick-arrow {
  top: 43%;
}

.location-work {
  padding: 160px 0 136px;
  position: relative;
  z-index: 1;
}
.location-work::before {
  content: "";
  position: absolute;
  width: 1792px;
  height: 609px;
  background: url("../img/decor-bg.png") repeat;
  background-size: 60px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.15;
  z-index: -1;
}
.location-work::after {
  content: "";
  position: absolute;
  width: 725px;
  height: 674px;
  left: 51%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/map.png") no-repeat center;
  background-size: contain;
  opacity: 0.4;
  z-index: -1;
}

.distance {
  color: #E35332;
  font-size: 70px;
  font-weight: 800;
}

.list-cities {
  margin: 64px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-cities li {
  margin: 0 24px 24px 0;
  border-radius: 20px;
  background: #849292;
  padding: 10px 24px;
  font-weight: 600;
  line-height: 140%;
}
.list-cities li:last-child {
  margin-right: 0;
}

.stages-work {
  margin: 33px 0;
}
.stages-work h2 {
  margin: 0 auto 64px;
}

.stages-work-box {
  margin: 0 auto 24px 0;
  max-width: 339px;
  width: 100%;
}
.stages-work-box:last-child {
  margin: 0 0 24px;
}
.stages-work-box__number {
  margin: 0 0 32px;
  border-radius: 50%;
  height: 56px;
  min-width: 56px;
  width: 56px;
  background: #E35332;
  font-size: 24px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #000;
}
.stages-work-box__body {
  text-align: center;
}
.stages-work-box h4 {
  margin: 0 auto 24px;
}

.documents-box {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 24px 24px;
  text-align: center;
  line-height: 140%;
}
.documents-box__icon {
  margin: -38px 0 16px;
}

.condition-box {
  padding: 24px;
}
.condition-box__icon {
  background: #E35332;
  border-radius: 50%;
  margin: 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  stroke: #000;
  padding: 16px;
}

.reviews-slider .slide {
  padding: 0 20px;
  height: auto;
}
.reviews-slider .slick-list {
  margin: 0 -20px;
}
.reviews-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.reviews-box {
  width: 100%;
  height: 543px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.reviews-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.callback-section {
  background: url("../img/callback-bg.png") no-repeat center;
  background-size: cover;
}

.callback-wrapper {
  position: relative;
  padding: 128px 0 64px 482px;
}
.callback-wrapper h4 {
  text-align: center;
  margin: 0 auto 32px;
}
.callback-wrapper .form-call {
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback-wrapper .form-call button {
  max-width: 591px;
  width: 100%;
  height: 68px;
  border-radius: 10px;
  padding: 10px 20px;
}
.callback-wrapper .form-call label {
  padding: 10px 20px;
  min-width: 591px;
  max-width: 591px;
}

.callback-manager {
  max-width: 482px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.callback-content {
  width: 100%;
  padding: 64px;
  border-radius: 20px;
  background: #9E9E9E;
}
.callback-content h3 {
  margin: 0 auto 40px;
}

.help-box {
  position: relative;
  text-align: center;
  padding: 0 30px;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}
.help-box__icon {
  margin: 0 0 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #898989;
  width: 56px;
  min-width: 56px;
  height: 56px;
}

.help-col:first-child .help-box {
  padding-left: 0;
}
.help-col:last-child .help-box {
  padding-right: 0;
  border-right: none;
}

.consent {
  margin: 20px auto 0;
  line-height: 140%;
  font-size: 12px;
  text-align: center;
}

.contacts-box {
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.contacts-box__icon {
  margin: 0 0 16px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts-box:hover {
  color: #fff;
}

.horizontal-scroll .mCSB_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 32px;
}

.mCSB_scrollTools {
  opacity: 1;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: 37px;
  height: 10px;
  border-radius: 38px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  margin: 0;
  height: 100%;
  border-radius: 38px;
  background: rgba(255, 255, 255, 0.32);
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  margin: 0;
  background: #E35332;
  height: 10px;
  width: 17px;
  border-radius: 38px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 17px;
  min-width: 17px;
}

.page-section {
  padding: 120px 0 0;
  background: url("../img/page-bg.png") no-repeat center top;
  background-size: 100%;
}

.services-page h3 {
  text-align: left;
}
.services-page .services-item {
  text-align: left;
  font-size: 22px;
}
.services-page .services-item__price {
  margin: 20px 0 0;
  width: 100%;
}
.services-page .services-item__name {
  margin: 0 auto 0 0;
}

.contacts-section-v2 h3 {
  text-align: left;
}
.contacts-section-v2 .contacts-box__text {
  width: 100%;
  text-align: right;
  display: block;
}

.prices-wrapper {
  width: 100%;
  padding: 32px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
}

.price-list {
  width: 100%;
}
.price-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 24px 0;
}
.price-list__name {
  width: calc(100% - 40px - 126px);
  margin: 0 auto 0 0;
}
.price-list__value {
  color: #E35332;
}

.contacts-page .h1 {
  margin: 0 0 40px;
}

.list-contacts {
  padding: 0 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
}
.list-contacts > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.list-contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  stroke: #fff;
  width: 26px;
  height: 26px;
  min-width: 26px;
  margin: 0 24px 0 0;
}
.list-contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-contacts .stroke-none {
  stroke: none;
  fill: #fff;
}
.list-contacts a {
  color: #fff;
}
.list-contacts a:hover {
  color: #E35332;
}
.list-contacts .mail {
  border-bottom: 2px dashed #fff;
  padding: 0 0 10px;
}
.list-contacts .list-social {
  margin: 0 0 0 24px;
}
.list-contacts .list-social li a {
  width: 41px;
  height: 41px;
}

.stroke-none {
  stroke: none;
  fill: #fff;
}

.callback {
  margin: 64px 0;
}
.callback .h2 {
  margin: 0 0 40px;
}

.form-callback-wrapper {
  width: 100%;
  border-radius: 20px;
  background: #BBBCB6;
  padding: 32px;
}

.form-callback label {
  padding: 24px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-callback .input-icon {
  width: 26px;
  height: 26px;
  min-width: 26px;
  margin: 0 24px 0 0;
  stroke: #fff;
  fill: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-callback .stroke-none {
  fill: #fff;
  stroke: none;
}
.form-callback input {
  font-size: 20px;
  text-transform: none;
  font-weight: 600;
  padding: 0;
  color: #fff;
}
.form-callback input::-webkit-input-placeholder {
  color: #fff;
}
.form-callback input::-moz-placeholder {
  color: #fff;
}
.form-callback input:-ms-input-placeholder {
  color: #fff;
}
.form-callback input::-ms-input-placeholder {
  color: #fff;
}
.form-callback input::placeholder {
  color: #fff;
}
.form-callback__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 0;
}
.form-callback [type=submit] {
  padding: 20px 32px;
  height: 59px;
}
.form-callback .consent {
  margin: 0;
  padding: 0 0 0 20px;
  width: calc(100% - 330px);
  text-align: left;
  font-size: 14px;
  color: #fff;
}