@font-face {
  font-family: "RockStar";
  font-weight: 250;
  font-style: normal;
  src: url("../fonts/RockStar/RockStar-ExtraLight.eot");
  src: url("../fonts/RockStar/RockStar-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RockStar/RockStar-ExtraLight.woff") format("woff"), url("../fonts/RockStar/RockStar-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "RockStar";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RockStar/RockStar-Regular.eot");
  src: url("../fonts/RockStar/RockStar-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RockStar/RockStar-Regular.woff") format("woff"), url("../fonts/RockStar/RockStar-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RockStar";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/RockStar/RockStar-SemiBold.eot");
  src: url("../fonts/RockStar/RockStar-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RockStar/RockStar-SemiBold.woff") format("woff"), url("../fonts/RockStar/RockStar-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "RockStar";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/RockStar/RockStar-ExtraBold.eot");
  src: url("../fonts/RockStar/RockStar-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RockStar/RockStar-ExtraBold.woff") format("woff"), url("../fonts/RockStar/RockStar-ExtraBold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "RockStar", sans-serif;
  font-weight: normal;
  background: #000;
  color: #fff;
  leading-trim: both;
  text-edge: cap;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "RockStar", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background: transparent;
  color: #000;
  font-size: 40px;
  line-height: 90%;
  font-weight: 250;
  text-transform: uppercase;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #595959;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #595959;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "RockStar", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 90%;
  font-weight: 600;
  border-radius: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-accent {
  color: #fff;
  background: #E35332;
}
.btn-accent:hover {
  background: #be3e21;
  color: #fff;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.list-disc {
  width: 100%;
}
.list-disc li {
  margin: 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-disc li:last-child {
  margin: 0;
}
.list-disc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  min-width: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 4px 10px 0 0;
}
.list-disc span {
  margin: 0 auto;
}

.container {
  max-width: 1832px;
  padding: 0 20px;
}

.row {
  margin: 0 -20px;
}
.row > * {
  padding: 0 20px;
}

h1 {
  width: 100%;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  line-height: 90%;
}

h2, .h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  line-height: 90%;
}

.h1 {
  text-transform: none;
  text-align: left;
  margin: 0 0 64px;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 90%;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
}

.m-64 {
  margin: 64px 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.bg-light-green {
  background: #243827;
}

.bg-green {
  background: #04261D;
}

.bg-black-green {
  background: #18281A;
}

.bg-brown {
  background: #2E1C17;
}

.bg-brown-grey {
  background: #312C2D;
}

.bg-grey {
  background: #31332C;
}

.bg-violet {
  background: #281B32;
}

.bg-black-blue {
  background: #102229;
}

.color-accent {
  color: #E35332;
}

.box-text p {
  margin: 0 0 24px;
}
.box-text p:last-child {
  margin: 0;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  opacity: 1;
  border: none;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #191919;
  width: 56px;
  height: 56px;
  stroke: #9E9E9E;
  padding: 15px;
}
.slick-arrow svg {
  width: 28px;
  height: 18px;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #E35332;
  stroke: #fff;
}

.slick-prev {
  left: -28px;
}

.slick-next {
  right: -28px;
}

.slick-dots {
  margin: 40px auto 0;
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 1;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-dots li {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 50%;
  margin: 0 17px 0 0;
  width: 11px;
  height: 11px;
  background: #fff;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background: #E35332;
}

.breadcrumb-nav {
  width: 100%;
  margin: 0 0 64px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
}
.breadcrumb a {
  color: #fff;
}
.breadcrumb a:hover {
  color: #E35332;
}

.breadcrumb-item {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  margin: 0 16px;
  padding: 0;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
}

.breadcrumb-item.active {
  color: #fff;
}