@import "vars"

footer
	margin: 24px 0 64px
	font-weight: 600
	line-height: 90%

.link-developer
	display: flex
	align-items: center
	color: #fff
	margin: 0 0 0 auto
	&:hover
		color: $accent
	img
		margin: 0 0 0 14px	