@import "vars"

header
	z-index: 3
	left: 0
	top: 0
	width: 100%
	position: absolute
	.list-social
		margin: 0 68px 0 24px
	.phone

.phone
	color: #fff

.list-social
	display: flex
	flex-wrap: wrap
	align-items: center

	li
		margin: 0 24px 0 0
		&:last-child
			margin: 0
	a
		@include d-flex
		width: 20px
		height: 20px
		fill: #fff
		&:hover
			fill: $accent

.nav-menu
	margin: 0 auto
	font-weight: 600
	line-height: 140%
	font-size: 16px
	.nav-item
		&:first-child
			.nav-link
				border-left: 2px solid rgba(#fff, .1)
	.nav-link
		color: #fff
		padding: 29px 68px
		border-right: 2px solid rgba(#fff, .1)
		&:hover
			color: $accent

	.dropdown-toggle::after
		display: none
	.dropdown-menu
		min-width: 408px	

.dropdown-menu
	border: none
	border-radius: 20px
	padding: 0
	font-weight: 600
	line-height: 140%
	overflow: hidden
	li
		&:last-child
			.dropdown-item
				border: none

.dropdown-item
	padding: 24px 24px 24px 40px
	font-weight: 600
	line-height: 140%
	color: #000
	border-bottom: 1px solid rgba(0, 0, 0, 0.10)
	&:hover
		background: $accent
		color: #fff
